@page
@model PressStart.Pages.LoginModel
@{
    ViewBag.Title = "User Login";
}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '984916019005395',
            cookie: true,
            xfbml: true,
            version: 'v11.0'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=984916019005395&autoLogAppEvents=1"
    nonce="uoo8uIBx"></script>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="form-group">
                <br>
                <!-- Facebook Login -->
                <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
                    data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
                <!-- Facebook Login ends -->
                <br>
                <p>
                    <a asp-page="./Register">Register as a new user</a>
                </p>
            </div>

        </form>
    </div>
</div>
