@page
@model PressStart.Pages.LogoutModel
@{
    ViewData["Title"] = "User logged out";
}
<h1>@ViewData["Title"]</h1>
@{
    <p>You have been logged out.
        <a class="nav-link" asp-area="" asp-page="/Index">Click to continue.</a>
    </p>
}
