@page
@model PressStart.Pages.Admin.Games.AddGameSuccessModel
@{
}
<h1>You added a game!</h1>
<p><a class="nav-link" asp-area="" asp-page="/Admin/Games/AddGame">Add another game.</a></p>
<p><a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a></p>