@page
@model PressStart.Pages.CommentsModel
@{
}
@* 
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <form method="post">
                        <h1>Comments</h1>
                        @foreach (var c in Model.CommentList)
                        {
                            <div class="comment mt-4 text-justify float-left">
                                <h4 asp-for="UserName">@Html.DisplayFor(model => User.Identity.Name)</h4>
                                <span>- 20 October, 2018</span>
                                <br>
                                <p style="background-color: black;">@c.CommentText</p>
                            </div>
                        }
                    </form>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form method="post" id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4> 
                        <label for="message">Message</label> 
                        <textarea asp-for="CommentText" name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: black;">@Model.Comment.CommentText</textarea>
                    </div>
                
                    <div class="form-group"> 
                        <button type="submit" id="post" class="btn">Post Comment</button> 
                    </div>
                    </form>
            </div>
        </div>
    </div>
</section> *@